//
// Aside Green Skin
//



// Build skin
.k-aside.k-aside--skin-green {
	background-color: #1cac81;

	// Scrollbar
	@include k-perfect-scrollbar-skin( lighten(#1cac81, 8%) );

	// Footer
	.k-aside__footer {
		.btn {
			height: 3.35rem;
    		width: 3.35rem;
			background-color: #159f76;
			box-shadow: none;
			
			i {
				@include k-transition();
				color: #70d8b9;
			}

			&:hover {
				background-color: darken(#159f76, 6%);

				i {
					@include k-transition();
					color: #ffffff;
				}
			}
		}
	}
}