//
// Brand Brand Skin
//



// Desktop mode
@include k-desktop {
	.k-aside__brand.k-aside__brand--skin-brand {
	    background-color: #6545ef;
    	box-shadow: none;

    	.k-aside__brand-tools {
			@include k-burger-icon-skin(k-aside__brand-aside-toggler, (default: #8d75f6, hover: #d4ccfa, active: #d4ccfa) );		
		}
	}
}

// Tablet and mobile mode
@include k-tablet-and-mobile {
	.k-aside__brand--skin-brand {    	
		.k-header-mobile {
			background-color: #6545ef;
			box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.75);

			// Toolbar
			.k-header-mobile__toolbar {
				@include k-burger-icon-skin(k-header-mobile__toolbar-toggler, (default: #8d75f6, hover: #d4ccfa, active: #d4ccfa) );	

				.k-header-mobile__toolbar-topbar-toggler {
					i {
						color: #8d75f6;
					}

					&.k-header-mobile__toolbar-topbar-toggler--active,
					&:hover {
						i {
							color: #d4ccfa;
						}
					}
				}
			}
		}
	}
}