//
// Header Mobile
//



$k-header-mobile-config: (
	self: (
		default: (
			height: 60px,
		),		
		fixed: (		 
			zindex: 97,
			box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.2)
		)
	),

	toolbar: (
		toggler: (
			width: 26px,
			height: 26px,  
			transition-duration: 0.4s,
			thickness: 2px,
			space: 6px, 
			radius: 2px,
			color: (
				default: lighten( k-brand-color(), 12%),
				hover: k-brand-color(),
				active: k-brand-color()
			)
		)
	)	
) 